:root {
  --color-primary: #f7df1e;
  --container-max-width: 1200px;
  --font-family: sans-serif;
}

html{
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: var(--font-family);
}

*, *::before, *::after{
  box-sizing: inherit;
}

.title{
  text-align: center;
  background-color: var(--color-primary);
  margin-top: 0;
  margin-bottom: 0;
  padding: 1rem 0;
  color: #000;
}

.tester{
  height: calc(100vh - 70px);
  display: grid;
  justify-content: center;
  align-items: center;
}